<figure style="margin-left: 0;">
    <img src="{{ picture }}" alt="{{ name }}">
    <figcaption>
    {% if website %}
        <a href="{{ website }}">{{ name }}</a>
    {% else %}
        {{ name }}
    {% endif %}
    {% if pitt_portal %}
        |
        <a href="{{ pitt_portal }}">Pitt Portal</a>
        <br>
    {% endif %}
    </figcaption>

    {{ position }}<br>

    Research Interests:
    {% for research_interest in research_interests %}
        {% if loop.last %}
            {{ research_interest }}
        {% else %}
            {{ research_interest }},
        {% endif %}
    {% endfor %}
</figure>
