<div class="card person-card fade-in">
    <figure class="person-figure">
        <img src="{{ picture }}" alt="{{ name }}" class="person-image">
        <figcaption class="person-details">
            <h3 class="person-name">
                {% if website %}
                    <a href="{{ website }}">{{ name }}</a>
                {% else %}
                    {{ name }}
                {% endif %}
            </h3>
            
            {% if pitt_portal %}
                <a href="{{ pitt_portal }}" class="pitt-portal-link">Pitt Portal</a>
            {% endif %}

            <div class="person-position">
                <p>{{ position }}</p>
                {% if lab_position %}
                    <p>{{ lab_position }}</p>
                {% endif %}
            </div>

            <div class="research-interests">
                <h4>Research Interests</h4>
                <p>
                    {% for research_interest in research_interests %}
                        {% if loop.last %}
                            {{ research_interest }}
                        {% else %}
                            {{ research_interest }},
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </figcaption>
    </figure>
</div>
