<div class="card project-card fade-in" data-topics="{{ topic }}">
    <div class="project-content">
        <h3 class="project-title">{{ title }}</h3>
        {% if topic %}
            <div class="project-topics">
                <span class="topics-label">Topics:</span>
                <div class="topics-list">
                    {% for t in topic | split(pat=",") %}
                        <span class="topic-value">{{ t | trim }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
        <div class="project-leadership">
            {% if project_lead and project_lead != "" %}
                <div class="project-lead">
                    <span class="label">Project Lead:</span>
                    {% if project_lead_website %}
                        <a href="{{ project_lead_website }}">{{ project_lead }}</a>
                    {% else %}
                        {{ project_lead }}
                    {% endif %}
                </div>
            {% endif %}
            
            {% if collaborators %}
                <div class="project-collaborators">
                    <span class="label">Collaborators:</span>
                    <span>{{ collaborators }}</span>
                </div>
            {% endif %}
        </div>

        <div class="project-description">
            <p>{{ description }}</p>
        </div>
    </div>
</div>
{% if not last_entry %}
    <div class="project-spacer"></div>
{% endif %}
