<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <title>
                {% block title %}
                    {{ config.title }}
                {% endblock title %}
            </title>

            {% if config.extra.options.katex %}
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
                <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
                <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
            {% endif %}

            <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />

            <link rel="shortcut icon" href="{{ get_url(path="favicon.ico") | safe }}" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet" />
            <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

            {% block rss %}
                <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
            {% endblock %}

            {% set data = load_data(path="public/style.css", format="plain") -%}
            <style>{{ data | safe }}</style>

            {% if config.extra.options.seo %}
                {% block seo -%}
                    {% if config.extra.author -%}
                        <meta name="author" content="{{ config.extra.author }}" />
                    {%- endif %}

                    <meta property="og:site_name" content="{% block ogsitename %}{{ config.title }}{% endblock ogsitename %}" />
                    <meta property="og:title" content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}" />
                    <meta property="og:description" content="{% block ogdesc %}{{ config.description }}{% endblock ogdesc %}" />
                    <meta property="og:url" content="{% block ogurl %}{{ config.base_url | safe }}{% endblock ogurl %}" />
                    <meta property="og:image" content="{% block og_image %}{% if config.extra.og_image %}{{ get_url(path=config.extra.og_image) | safe }}{% endif %}{% endblock og_image %}" />

                    {% if not page.date -%}
                        <meta property="og:type" content="website" />
                    {% else -%}
                        <meta property="og:type" content="article" />
                        <meta property="article:published_time" content="{{ page.date | date(format="%+") }}" />
                    {%- endif %}

                    {% if page.earlier -%}
                        <link rel="prev" href="{{ page.earlier.permalink | safe }}" />
                    {%- endif %}

                    {% if page.later -%}
                        <link rel="next" href="{{ page.later.permalink | safe }}" />
                    {%- endif %}
                {%- endblock seo -%}
            {%- endif %}
        </head>
    {% endblock head %}

    <body>
        <header class="site-header fade-in">
            <div class="header-content">
                <img class="logo" src="/logo.png" alt="NAIL">
                {% if config.extra.header.links %}
                    <nav role="navigation">
                        <ul>
                            {% for item in config.extra.header.links %}
                                <li>
                                    <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </header>

        <main class="content-wrapper fade-in">
            {% block content %}
                {{ section.content | safe }}
            {% endblock content %}
        </main>

        {% block footer %}
            <footer role="contentinfo" class="site-footer fade-in">
                <hr />
                <div class="footer-links">
                    {% for item in config.extra.footer.links %}
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}">
                            <i class="{{ item.icon }}"></i>
                            <span>{{ item.name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <p class="copyright">
                    <small>&copy; 2022-2025 NAIL</small>
                </p>
            </footer>
        {% endblock footer %}
    </body>
</html>
